/************************* CONVENTION ************************/

body {
  margin: 0;
  font-family: "Epilogue", sans-serif;
}

a {
  font-size: 16px;
  font-weight: 500;
  color: #637381;
  line-height: 24px;
  text-decoration: none;
  font-family: "inter", sans-serif;
}

h1 {
  font-size: 30.85px;
  font-weight: 600;
  color: #1b3168;
  line-height: 28.5px;
  font-family: "Epilogue", sans-serif;
}

h2 {
  font-size: 28.85px;
  font-weight: 600;
  color: #1b3168;
  line-height: 24.5px;
  font-family: "Epilogue", sans-serif;
}

h3 {
  font-size: 28.85px;
  font-weight: 600;
  color: #1b3168;
  line-height: 24.5px;
  font-family: "Epilogue", sans-serif;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24.5px;
  color: #637381;
  font-family: "Epilogue", sans-serif;
}

button {
  background-color: #004c6c;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  font-family: "Epilogue", sans-serif;
  color: white;
  cursor: pointer;
  border: #004c6c 2px solid;
}

input {
  background-color: white;
  border-radius: 6px;
  border: #dfe4ea solid 1px;
  width: 32%;
  padding: 1.5%;
  font-family: "inter", sans-serif;
  outline: none;
}

input::placeholder {
  font-size: 16px;
  font-weight: 400;
  font-family: "inter", sans-serif;
}

select {
  background-color: #ffffff;
  border: 1px solid #dfe4ea;
}

select::placeholder {
  color: #9ca3af;
  size: 18px;
  font-weight: 400;
}

form {
  display: flex;
  flex-direction: column;
}
/*************************************** TOP *******************************/
.borderTop {
  background-color: #b4c4cf;
  height: 10px;
  width: 97%;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  margin: 0 auto;
  margin-top: 1%;
}

.top {
  background-color: #004c6c;
  width: 97%;
  margin: 0 auto;
  padding: 1%;
  border-radius: 16px;
}

.top img {
  width: 9%;
}

.right {
  display: flex;
  flex-direction: column;
  flex: 2;
  max-width: 70%;
  margin-left: 3%;
  margin-top: 1%;
}

.middle {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-top: 1%;
}

.middle p {
  font-size: 18px;
}

.details {
  width: 100%;
}

.details p {
  margin: 0;
  font-size: 18px;
}

.ps {
  width: 100%;
}

.ps a {
  font-size: 18px;
  color: #004c6c;
  font-weight: 700;
}

.portal {
  border-radius: 9px;
  width: 19%;
  padding: 1%;
  margin-top: 3%;
  border: #004c6c 2px solid;
}

/************************* MENU GAUCHE *************************/
.border {
  border-bottom: #dfe4ea solid 1px;
}

/*
.active {
  background-color: #5c73a012;
  border-right: #004c6c solid 4px;
  color: #004c6c;
  padding: 1.8%;
  text-align: left;
  width: 14%;
  padding-left: 6%;
  padding-right: 13%;
}
*/

.active {
  background-color: #5c73a012;
  border-right: #004c6c solid 4px;
  color: #004c6c;
  padding: 3.8%;
  text-align: left;
  width: 30%;
  padding-left: 9%;
  padding-right: 28%;
}

.left {
  width: 21%;
  height: 935px;
  box-shadow: 16px 20px 20px rgba(0, 0, 0, 0.05);
}

.left a {
  font-weight: 600;
  font-size: 20px;
  display: flex;
  margin: 9% 0% 0% 0%;
  flex: 1;
  width: 62%;
  padding-left: 9%;
  padding-right: 28%;
}

.rod {
  border: #5c73a012 1px solid;
  width: 78%;
  margin: 7% auto -5% auto;
  border-radius: 16px;
}

/******************************** ACCUEIL ************************************/
.diff {
  margin-top: 6%;
}

.blue {
  color: #004c6c;
  text-decoration: underline;
}

.steps-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 58%;
  margin: 8% 0% 4% 19%;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.circle {
  width: 111%;
  height: 57px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid #004b6b;
  background-color: white;
  color: #004b6b;
  position: relative;
  z-index: 1;
}

.step.current-step .circle {
  background-color: #004b6b;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.line {
  flex-grow: 1;
  height: 3px;
  background-color: #004b6b;
  margin: -59px 5px 0px;
  width: 52%;
}

.step p {
  width: 143%;
  font-weight: 600;
  color: #111928;
}

.blocks {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 37px;
}

.block {
  background-color: #004c6c0d;
  border-radius: 8px;
  padding: 3%;
  width: 32%;
  text-align: center;
}

.block p {
  line-height: 24px;
  color: #000000;
}

/************************************* MDP OUBLIER *******************************/
.renit {
  border-radius: 9px;
  width: 35%;
  padding: 1%;
  margin-top: 5%;
  border: #004c6c 2px solid;
}
/************************************ NOUVELLE DEMANDE ***************************/
.dates {
  display: flex;
  gap: 154px;
}

.begin input {
  width: 124%;
  padding: 5%;
  text-align: center;
  outline: none;
}

.dates p {
  color: #212b36;
}

.end input {
  text-align: center;
  outline: none;
  width: 124%;
  padding: 5%;
}

.right select {
  background-color: #ffffff;
  border: 1px solid #dfe4ea;
  width: 28%;
  border-radius: 5px;
  padding: 1%;
  color: #9ca3af;
  font-size: 17px;
  font-weight: 400;
}

.color {
  color: #212b36;
}

.greyP {
  color: #6b7280;
}

.grey input {
  background-color: #f3f4f6;
  border: 1px solid #f3f4f6;
  width: 26%;
  padding: 1.3%;
  /* padding-right: 6%; */
  text-align: left;
  outline: none;
}

.files input {
  width: 28%;
  padding: 1%;
  padding-right: 0%;
  text-align: center;
  outline: none;
}

.justificative input {
  padding: 5% 3% 23%;
  outline: none;
  width: 54%;
}

.error {
  color: #212b36;
}

.end button {
  border-radius: 7px;
  border: #004c6c 2px solid;
  padding: 1% 2%;
  margin-top: 4%;
}

.files {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.custom-file-upload {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ffffff;
  font-size: 14px;
  color: #333;
  width: 26.7%;
  padding: 1.2%;
}

.custom-file-upload img {
  width: 20px;
  height: 20px;
}

input[type="file"] {
  display: none;
}

/************************************ REQUESTYPES ************************************/

.button.Link {
  border-radius: 7px;
  border: #004c6c 2px solid;
  margin-left: 2%;
  padding: 0% 2%;
  height: 41px;
}

.sectionRight {
  display: flex;
  align-items: center;
  width: 100%;
}

/************************************ MES INFOS ************************************/
.infos {
  display: flex;
}

.infos input {
  background-color: #f3f4f6;
  border: 1px solid #f3f4f6;
  color: #000000;
}

.name input {
  width: 100%;
  padding: 7% 88% 7% 6%;
}

.nameF {
  margin-left: 17%;
}

.nameF input {
  width: 100%;
  padding: 7% 88% 7% 6%;
}

.email input {
  width: 24%;
  padding: 1%;
  background-color: #f3f4f6;
  border: 1px solid #f3f4f6;
  color: #000000;
  text-align: center;
}

.mdp {
  display: flex;
}

.forgot,
.forgotF,
.forgotN {
  position: relative;
  width: 30%;
}

.forgotF {
  margin-left: 2%;
}

.forgot input,
.forgotF input,
.forgotN input {
  width: 79%;
  padding: 2.5%;
  padding-right: 40px;
  font-size: 16px;
}

.forgot input,
.forgotN input {
  width: 77%;
}

.toggle-password {
  position: absolute;
  right: 52px;
  top: 79%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.service select {
  background-color: #f3f4f6;
  border: 1px solid #f3f4f6;
  width: 26.4%;
  border-radius: 5px;
  padding: 1%;
  color: #000000;
  font-size: 17px;
  font-weight: 400;
  outline: none;
}

.services {
  display: flex;
}

.services select {
  padding: 4%;
  width: 100%;
  border-radius: 6px;
}

.direction,
.poste {
  width: 26.4%;
}

.poste {
  margin-left: 5%;
}

.toggle {
  position: absolute;
  right: 52%;
  top: 106%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.initial {
  width: 20%;
  color: white;
  margin-top: 3%;
  border-radius: 5px;
  margin-bottom: 4%;
  padding: 1%;
}

.white {
  color: white;
}
/************************************ MES INFOS ************************************/
.button {
  display: flex;
}

.button2 {
  display: flex;
}

/************************************ SUCCESS ************************************/

.containerNotif {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 0.5rem;
}

.notification--info {
  --bg: #f0fbfe;
  --primary: #0ea1e7;
}

.notification--finalised {
  --bg: #f7f6fb;
  --primary: #9077df;
}

.notification--failure {
  --bg: #fff1f6;
  --primary: #c43060;
}

.notification--warning {
  --bg: #fff9eb;
  --primary: #d6a024;
}

.notification--success {
  --bg: #ecfbf2;
  --primary: #335d48;
}

.notification {
  min-width: 22rem;
  margin-left: auto;
  margin-right: auto;
  background: var(--bg);
  color: var(--primary);
  border-left: 0.25rem solid var(--primary);
  transform: translate(1.875rem);
  opacity: 0;
  visibility: hidden;
  animation: fade-in 3s linear;
  border-radius: 6px;
}

.notification_icon {
  height: 1.625rem;
  width: 1.625rem;
  margin-right: 0.45rem;
}

.notification__body {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 0.5rem;
  width: 67%;
}

.notification__body img {
  width: 4%;
  margin-right: 2%;
}

.notification__progress {
  position: absolute;
  left: 0.25rem;
  bottom: 0.25rem;
  width: calc(100% - 0.5rem);
  height: 0.2rem;
  transform: scaleX(0);
  transform-origin: left;
  background: linear-gradient(to right, var(--bg), var(--primary));
  border-radius: inherit;
  animation: progress 2.5s 0.3s linear;
}

@keyframes fade-in {
  5% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  95% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes progress {
  to {
    transform: scaleX(1);
  }
}

.containerNotif {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
/************************************* BUTTON *******************************/
.switch {
  position: relative;
  height: 1.5rem;
  width: 3rem;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 9999px;
  background-color: rgba(100, 116, 139, 0.377);
  transition: all 0.3s ease;
  padding: 1%;
  margin: 1%;
}

.switch:checked {
  background-color: #004c6c;
}

.switch::before {
  position: absolute;
  content: "";
  left: calc(1.5rem - 1.6rem);
  top: calc(1.5rem - 1.6rem);
  display: block;
  height: 1.6rem;
  width: 1.6rem;
  cursor: pointer;
  border: 1px solid #004c6c;
  border-radius: 9999px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 3px 10px rgba(100, 116, 139, 0.327);
  transition: all 0.3s ease;
}

.switch:hover::before {
  box-shadow: 0 0 0px 8px rgba(0, 0, 0, 0.15);
}

.switch:checked:hover::before {
  box-shadow: 0 0 0px 8px rgba(32, 151, 243, 0.15);
}

.switch:checked:before {
  transform: translateX(100%);
  border-color: #004c6c;
}

.save {
  width: 20%;
  color: white;
  margin-top: 3%;
  border-radius: 5px;
  margin-bottom: 4%;
  padding: 1%;
}

/************************************* RESPONSIVE *******************************/
@media screen and (max-width: 1340px) {
  .portal {
    width: 248px;
  }
  .id {
    width: 226px;
  }
  .details {
    width: 100%;
  }
  .middle {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .left {
    display: none;
  }
  .middle {
    justify-content: center;
  }
  .top img {
    width: 32%;
  }
  .borderTop {
    width: 95%;
    height: 7px;
  }
}

@media screen and (max-width: 500px) {
  .active {
    width: 49px;
  }
  .left a {
    font-size: 17px;
  }
  .right h1 {
    font-size: 26px;
  }
  .right h2 {
    font-size: 22px;
  }
  .right input {
    width: 195px;
  }
  .right button {
    width: 210px;
  }
  .ps {
    width: 90%;
  }
  .borderTop {
    width: 92%;
    height: 6px;
  }
}
