/************************* CONVENTION ************************/

body {
  margin: 0;
  font-family: "Epilogue", sans-serif;
}
.right {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

a {
  font-size: 16px;
  font-weight: 500;
  color: #637381;
  line-height: 24px;
  text-decoration: none;
  font-family: "inter", sans-serif;
}

a.linkButton {
  color: white;
}

h1 {
  font-size: 30.85px;
  font-weight: 600;
  color: #1b3168;
  line-height: 28.5px;
  font-family: "Epilogue", sans-serif;
}

h2 {
  font-size: 28.85px;
  font-weight: 600;
  color: #1b3168;
  line-height: 24.5px;
  font-family: "Epilogue", sans-serif;
}

h3 {
  font-size: 28.85px;
  font-weight: 600;
  color: #1b3168;
  line-height: 24.5px;
  font-family: "Epilogue", sans-serif;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24.5px;
  color: #637381;
  font-family: "Epilogue", sans-serif;
}

button {
  background-color: #004c6c;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  font-family: "Epilogue", sans-serif;
  color: white;
  cursor: pointer;
  border: #004c6c 2px solid;
  cursor: pointer;
}

input {
  background-color: white;
  border-radius: 6px;
  border: #dfe4ea solid 1px;
  width: 100%;
  padding: 12px 16px 12px 20px;
  font-family: "inter", sans-serif;
  outline: none;
  max-width: 350px;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  margin-left: -90px;
  padding-left: 50px;
}

input::placeholder {
  font-size: 16px;
  font-weight: 400;
  font-family: "inter", sans-serif;
}

select {
  background-color: #ffffff;
  border: 1px solid #dfe4ea;
  width: 100%;
  padding: 12px 16px 12px 20px;
}

select::placeholder {
  color: #9ca3af;
  size: 18px;
  font-weight: 400;
}

form {
  display: flex;
  flex-direction: column;
}
/*************************************** TOP *******************************/
.borderTop {
  background-color: #b4c4cf;
  height: 10px;
  width: 97%;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  margin: 0 auto;
  margin-top: 1%;
}

.top {
  background-color: #004c6c;
  width: 97%;
  margin: 0 auto;
  padding: 1%;
  border-radius: 16px;
}

.top img {
  width: 180px;
}

.allTop {
  top: 0; /* Collé en haut */
  left: 0;
  right: 0;
  z-index: 1000; /* Au-dessus du reste */
}

.right {
  display: flex;
  flex-direction: column;
  flex: 2;
  margin-left: 25%;
  margin-top: 1.3%;
  width: 45%;
}

.middle {
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-top: 1%;
}

.mailInput {
  padding: 12px 0px 12px 37px;
}

.middle p {
  font-size: 18px;
}

.details {
  width: 100%;
}

.details p {
  margin: 0;
  font-size: 18px;
  color: #000000;
  width: 947px;
  height: 74px;
  /* line-height: 26.5px; */
  text-align: justify;
}

.ps {
  width: 100%;
}

.ps a {
  font-size: 18px;
  color: #004c6c;
  font-weight: 700;
}

.portal {
  border-radius: 9px;
  width: 226px;
  padding: 13px 28px;
  margin-top: 3%;
  border: #004c6c 2px solid;
  background-color: #004c6c;
  color: white;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.portal:hover {
  transform: scale(0.95);
}

/* Menu burger */
.burger {
  display: block;
  width: 35px;
  height: 25px;
  position: absolute;
  top: 21px;
  right: 20px;
  z-index: 1001;
  cursor: pointer;
}
.burger span {
  height: 4px;
  background: white;
  margin: 6px 0;
  border-radius: 2px;
  display: block;
  transition: 0.3s ease;
}

/* Overlay sombre */
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1000;
}

/* Menu mobile */
.mobile-menu {
  position: fixed;
  top: 0;
  left: -300px;
  width: 250px;
  height: 100%;
  background: #003b5c;
  color: white;
  padding: 20px;
  z-index: 1001;
  transition: left 0.3s ease;
}
.mobile-menu a {
  display: block;
  padding: 10px 0;
  color: white;
  text-decoration: none;
}
.mobile-menu a:hover {
  text-decoration: underline;
}
.close-btn {
  font-size: 24px;
  margin-bottom: 20px;
  cursor: pointer;
}

/* Responsive : cacher menu desktop sur mobile */
@media screen and (min-width: 1348px) {
  .burger,
  .mobile-menu,
  .menu-overlay {
    display: none;
  }
}

.rodMenu {
  border: #ffffff94 2px solid;
  width: 78%;
  margin: 7% auto 1% auto;
  border-radius: 16px;
}

/* Contenu du menu déroulant (burger) - caché par défaut */
.dropdown-contentBurger {
  display: none;
  flex-direction: column;
  width: 100%;
}

.dropdown-contentBurger a {
  padding: 10px;
  text-decoration: none;
  transition: background 0.3s;
  margin: 4% auto;
  color: white;
  transition: 0.3s;
}

.dropdown-contentBurger a:hover {
  color: #004c6c;
  transition: 0.3s;
}

/* Affichage du menu lorsqu'il est actif */
.dropdown.active .dropdown-contentBurger {
  display: flex;
}

.dropdown.active .dropbtn i {
  transform: rotate(180deg);
}

/************************* MENU GAUCHE *************************/
.border {
  border-bottom: #dfe4ea solid 1px;
}

/*
.active {
  background-color: #5c73a012;
  border-right: #004c6c solid 4px;
  color: #004c6c;
  padding: 1.8%;
  text-align: left;
  width: 14%;
  padding-left: 6%;
  padding-right: 13%;
}
*/

.active {
  color: #004c6c;
  text-align: left;
  background-color: #5c73a012;
  border-right: #004c6c solid 4px;
  color: #004c6c;
  padding: 16px 24px;
}

.activeAdmin {
  background-color: #004c6c; /* Fond bleu */
  color: white; /* Texte blanc */
  font-weight: bold;
}

.left {
  width: 21%;
  height: 100vh; /* prend toute la hauteur de l'écran */
  overflow-y: auto; /* rend le contenu scrollable si nécessaire */
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.05);
  position: fixed;
}

.left a {
  font-weight: 500;
  font-size: 18px;
  display: flex;
  margin: 9% 0% 0% 0%;
  flex: 1;
  width: 62%;
  padding-left: 9%;
  padding-right: 28%;
}

.left::-webkit-scrollbar {
  width: 8px;
}

.left::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 4px;
}

.left::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

p.numberRequest {
  color: #004c6c;
  margin: auto;
  padding: 1% 6%;
  border-radius: 6px;
  background-color: #004c6c14;
}

.left a:hover {
  color: #004c6c;
  transition: 0.3s;
  font-weight: 700;
}

.rod {
  border: #5c73a012 1px solid;
  width: 78%;
  margin: 7% auto -5% auto;
  border-radius: 16px;
}

/* Conteneur du menu */
.dropdown {
  display: flex;
  flex-direction: column;
}

.dropdownBurger {
  display: flex;
  flex-direction: column;
}

/* Bouton Administration */
.dropbtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  padding: 3.8%;
  text-align: left;
  padding-left: 9%;
  padding-right: 28%;
}

.dropbtnBurger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  color: #004c6c;
  padding: 3.8%;
  text-align: left;
  padding-left: 9%;
  padding-right: 28%;
}

/* Icône flèche */
.dropbtn i {
  margin-left: auto;
  transition: transform 0.3s ease;
}

/* Contenu du menu déroulant (caché par défaut) */
.dropdown-content {
  display: none;
  flex-direction: column;
  background: white;
  width: 100%;
}

.dropdown-contentBurger {
  display: none;
  flex-direction: column;
  width: 100%;
}

.dropdown-content a {
  padding: 10px;
  text-decoration: none;
  transition: background 0.3s;
  margin: 4% auto;
  color: #637381;
  transition: 0.3s;
}

.dropdown-contentBurger a {
  padding: 10px;
  text-decoration: none;
  transition: background 0.3s;
  margin: 4% auto;
  transition: 0.3s;
}

.dropdown-content a:hover {
  color: #004c6c;
  transition: 0.3s;
}

/* Affichage du menu lorsqu'il est actif */
.dropdown.active .dropdown-content {
  display: flex;
}

.dropdownBurger.active .dropdown-contentBurger {
  display: flex;
}

.dropdown.active .dropbtn i {
  transform: rotate(180deg);
}

.dropdownBurger.active .dropbtn i {
  transform: rotate(180deg);
}

/* Cacher le menu par défaut */
.dropdown-content {
  display: none;
  flex-direction: column;
  background: white;
  width: 100%;
}

.dropdown.active .dropdown-content {
  display: flex;
}

.dropdown.active .dropbtn i {
  transform: rotate(180deg);
}

#menuOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 9;
}

.leftMobile {
  position: fixed;
  top: 0;
  left: -500px; /* Caché hors de l'écran */
  width: 250px;
  height: 100%;
  background-color: #004b6b; /* Bleu du site */
  box-shadow: 16px 20px 20px rgba(0, 0, 0, 0.05);
  transition: left 0.3s ease-in-out;
  z-index: 10;
  padding: 20px;
}

.leftMobile a {
  color: white;
  text-decoration: none;
  display: block;
  margin: 15px 0;
}

#closeMenu {
  font-size: 20px;
  cursor: pointer;
  display: block;
  text-align: right;
  color: white;
}

#openMenu {
  background: none;
  color: #004b6b;
  border: none;
  /* padding: 10px 20px; */
  font-size: 31px;
  cursor: pointer;
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-content {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 1.5rem;
}

.goBack {
  background-color: #d6e0ed;
  border-radius: 8px;
  border: #e2e8f0;
  padding: 13px 28px;
}

/******************************** ACCUEIL ************************************/
.diff {
  margin-top: 6%;
}

.blue {
  color: #004c6c;
  text-decoration: underline;
}

.steps-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 10% 0% 6% 11%;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.circle {
  width: 111%;
  height: 57px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  font-weight: bold;
  border: 2px solid #004b6b;
  background-color: white;
  color: #004b6b;
  position: relative;
  z-index: 1;
  font-weight: 1000;
}

.step.current-step .circle {
  background-color: #004b6b;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.line {
  flex-grow: 1;
  height: 3px;
  background-color: #004b6b;
  margin: -59px 5px 0px;
  width: 52%;
}

.step p {
  width: 143%;
  font-weight: 600;
  color: #111928;
}

.blocks {
  display: flex;
  justify-content: space-around;
  width: 126%;
  gap: 63px;
}

.block {
  background-color: #004c6c0d;
  border-radius: 8px;
  padding: 3%;
  width: 25%;
  text-align: center;
  transition: 0.7s;
}

.block:hover {
  transform: scale(1.2, 1.2);
  transition: 0.7s;
}

.block p {
  line-height: 24px;
  color: #000000;
}

/************************************* MDP OUBLIER *******************************/
.renit {
  border-radius: 9px;
  width: 51.5%;
  padding: 13px 28px;
  margin-top: 5%;
  border: #004c6c 2px solid;
  background-color: #004c6c;
  color: white;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.renit:hover {
  transform: scale(0.95);
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f0f8ff;
  color: #333;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  text-align: center;
  width: 300px;
}

.popup h2 {
  margin-bottom: 10px;
  color: #004b6b;
}

.popup button {
  background-color: #003b5c;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  margin-top: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9998;
}

.resetPswd {
  width: 274px;
  color: white;
  margin-top: 3%;
  border-radius: 5px;
  margin-bottom: 4%;
  padding: 13px 28px;
  height: 41px;
  align-items: center;
  display: flex;
  justify-content: center; /* pour centrer le texte */
  background-color: #004c6c;
  cursor: pointer;
  transition: transform 0.2s ease;
  border: none; /* optionnel */
}

.resetPswd:hover {
  transform: scale(0.95);
}

.resetPswd button {
  transition: transform 0.2s ease;
}

.resetPswd button:hover {
  transform: scale(0.95);
}

/************************************ NOUVELLE DEMANDE ***************************/

.dates,
.infos {
  display: flex;
  gap: 10.5%;
}

.dates input {
  padding-left: 35px;
}

.begin input {
  width: 124%;
  padding: 12px 16px 12px 20px;
  text-align: left;
  outline: none;
  font-size: 17px;
  font-weight: 400;
}

.dates p {
  color: #212b36;
}

.end input {
  text-align: left;
  outline: none;
  width: 124%;
  padding: 12px 16px 12px 20px;
  font-size: 17px;
  font-weight: 400;
}

.right select {
  background-color: #ffffff;
  border: 1px solid #dfe4ea;
  width: 390px;
  border-radius: 5px;
  color: black;
  font-size: 17px;
  font-weight: 400;
}

.color {
  color: #212b36;
}

.greyP {
  color: #6b7280;
}

.grey input {
  background-color: #f3f4f6;
  border: 1px solid #f3f4f6;
  padding: 12px 16px 12px 20px;
  /* padding-right: 6%; */
  text-align: left;
  outline: none;
}

.files input {
  width: 28%;
  padding: 1%;
  padding-right: 0%;
  text-align: center;
  outline: none;
}

.justificative input {
  padding: 5% 3% 23%;
  outline: none;
  max-width: 801px;
  width: 100%;
  min-width: 790px;
}

.error {
  color: #212b36;
  width: 145%;
}

.end button {
  border-radius: 7px;
  border: #004c6c 2px solid;
  padding: 13px 28px;
  margin-top: 4%;
  background: #004c6c;
  color: white;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.end button:hover {
  transform: scale(0.95);
}

.files {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.custom-file-upload {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ffffff;
  font-size: 14px;
  color: #333;
  width: 100%;
  padding: 12px 16px 12px 20px;
  max-width: 350px;
}

.custom-file-upload img {
  width: 20px;
  height: 20px;
}

input[type="file"] {
  display: none;
}

/************************************ REQUESTYPES ************************************/

.button.Link {
  border-radius: 7px;
  border: #004c6c 2px solid;
  margin-left: 2%;
  padding: 0% 2%;
  height: 41px;
}

.sectionRight {
  display: flex;
  align-items: center;
  width: 100%;
}

/************************************ MES INFOS ************************************/
.infos {
  display: flex;
}

.infos input {
  background-color: #f3f4f6;
  border: 1px solid #f3f4f6;
  color: #000000;
}

.email input {
  background-color: #f3f4f6;
  border: 1px solid #f3f4f6;
  color: #000000;
  text-align: left;
  font-size: 17px;
  font-weight: 400;
  padding-left: 40px;
  max-width: 335px;
}

.infos2 {
  display: flex;
  gap: 10%;
  align-content: center;
  align-items: center;
}

.forgot {
  width: 100%;
}

.forgotM {
  position: relative;
  width: 392px;
}

.forgot input {
  width: 76%;
  padding: 12px 16px 12px 20px;
  padding-right: 40px;
  font-size: 16px;
}

.forgot input,
.infos2 input {
  max-width: 330px;
}

.forgotN,
.forgotF {
  position: relative;
}

.forgotF p {
  width: 280px;
}

.forgotN p {
  width: 280px;
}

.forgotF input,
.forgotN input {
  width: 79%;
  padding: 12px 16px 12px 20px;
  padding-right: 40px;
  font-size: 16px;
}

.right input {
  width: 350px;
}

.toggle-password {
  position: absolute;
  right: 12px;
  top: 78%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: block;
}

.toggle-passwordBug {
  position: absolute;
  right: 13px;
  top: 75%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: block;
}

.service select {
  background-color: #f3f4f6;
  border: 1px solid #f3f4f6;
  width: 386px;
  border-radius: 6px;
  padding: 12px 25px 12px 20px;
  color: #000000;
  font-size: 17px;
  font-weight: 400;
  outline: none;
}

.services {
  display: flex;
  justify-content: space-between;
  gap: 10.5%;
}

.services select {
  width: 386px;
  border-radius: 6px;
  padding: 12px 25px 12px 20px;
}

.poste {
  margin-left: 0%;
}

.toggle {
  position: absolute;
  right: 52%;
  top: 106%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.initial {
  width: 227px;
  color: white;
  margin-top: 3%;
  border-radius: 5px;
  margin-bottom: 4%;
  padding: 13px 28px;
  height: 41px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.white {
  color: white;
}
.button {
  display: flex;
  align-items: center;
  gap: 25px;
}

.button2 {
  display: flex;
  align-items: center;
  gap: 25px;
}

/************************************ SUCCESS ************************************/

.containerNotif {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 0.5rem;
  display: unset;
}

.notification--info {
  --bg: #f0fbfe;
  --primary: #0ea1e7;
}

.notification--finalised {
  --bg: #f7f6fb;
  --primary: #9077df;
}

.notification--failure {
  --bg: #fff1f6;
  --primary: #c43060;
}

.notification--warning {
  --bg: #fff9eb;
  --primary: #d6a024;
}

.notification--success {
  --bg: #ecfbf2;
  --primary: #335d48;
}

.notification {
  max-width: 20rem;
  margin-left: auto;
  margin-right: auto;
  background: var(--bg);
  color: var(--primary);
  border-left: 0.25rem solid var(--primary);
  transform: translate(1.875rem);
  opacity: 0;
  visibility: hidden;
  animation: fade-in 3s linear;
  border-radius: 6px;
  margin-top: 263%;
}

.notification_icon {
  height: 1.625rem;
  width: 1.625rem;
  margin-right: 0.45rem;
}

.containerNotif {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 9999;
  margin-top: 30%;
}

.notification__body {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 0.5rem;
  width: 81%;
}

.notification__body img {
  width: 4%;
  margin-right: 2%;
}

.notification__progress {
  position: absolute;
  left: 0.25rem;
  bottom: 0.25rem;
  width: calc(100% - 0.5rem);
  height: 0.2rem;
  transform: scaleX(0);
  transform-origin: left;
  background: linear-gradient(to right, var(--bg), var(--primary));
  border-radius: inherit;
  animation: progress 2.5s 0.3s linear;
}

@keyframes fade-in {
  5% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  95% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes progress {
  to {
    transform: scaleX(1);
  }
}

.containerNotif {
  display: flex;
  flex-direction: column;
  height: 100vh;
  display: unset;
  display: none;
}
/************************************* BUTTON *******************************/
.switch {
  position: relative;
  height: 1.5rem;
  max-width: 3rem;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 9999px;
  background-color: rgba(100, 116, 139, 0.377);
  transition: all 0.3s ease;
  padding: 1%;
  margin: 1%;
}

.switch:checked {
  background-color: #004c6c;
}

.switch::before {
  position: absolute;
  content: "";
  left: calc(1.5rem - 1.6rem);
  top: calc(1.5rem - 1.6rem);
  display: block;
  height: 1.6rem;
  width: 1.6rem;
  cursor: pointer;
  border: 1px solid #004c6c;
  border-radius: 9999px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 3px 10px rgba(100, 116, 139, 0.327);
  transition: all 0.3s ease;
}

.switch:hover::before {
  box-shadow: 0 0 0px 8px rgba(0, 0, 0, 0.15);
}

.switch:checked:hover::before {
  box-shadow: 0 0 0px 8px rgba(32, 151, 243, 0.15);
}

.switch:checked:before {
  transform: translateX(100%);
  border-color: #004c6c;
}

.save {
  width: 20%;
  color: white;
  margin-top: 3%;
  border-radius: 5px;
  margin-bottom: 4%;
  padding: 1%;
  background-color: #004c6c; /* ou autre couleur de fond souhaitée */
  cursor: pointer;
  transition: transform 0.2s ease;
  border: none; /* optionnel, pour un look plus moderne */
}

.save:hover {
  transform: scale(0.95);
}

/************************************* HISTORIQUE *******************************/

.searchHistorique {
  width: 17%;
}

.right.historique {
  max-width: 95%;
}

.searchHistorique input {
  width: 80%;
  padding: 6%;
}

.searchListe {
  padding: 3%;
}

/********************** Ma demande de conge **************************/

.sectionRequestDetails {
  line-height: 31.6px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1%;
}

.sectionRequestDetails .statuts {
  padding-top: 3%;
}

p.TypeRequest {
  margin: 0;
}

input.mangerComment {
  padding: 2% 2% 10%;
  width: 60%;
  margin-bottom: 3%;
}

.justificative.RequestDetails {
  margin-bottom: 3%;
}

a.moreDetails {
  padding: 10px 20px;
  border-radius: 7px;
  background-color: #004c6c14;
  color: #475467;
}

p.TypeRequest.statut {
  margin: 5% 0%;
}

.badge {
  padding: 4px 12px;
  border-radius: 20px;
  font-weight: 600;
  display: inline-block;
  margin-left: 8px;
  font-size: 14px;
}

.badge-valide {
  background-color: #d4f5dd;
  color: #2e7d32;
}

.badge-refuse {
  background-color: #ffd6d6;
  color: #c62828;
}

.badge-encours {
  background-color: #ffe7c2;
  color: #ef6c00;
}

/******************************** Administration - Type de demande ************************************/

.container_admin {
  width: 82%;
  margin-top: 20px;
  border-radius: 12px;
}

.container_admin h1 {
  color: #1d2d50;
  border: none;
}

.add-btn {
  background-color: #004b75;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.add-btn:hover {
  background-color: #003b5c;
}

.top_admin {
  display: flex;
  gap: 30px;
  align-items: center;
}

.top_admin a {
  color: white;
}

.search_admin {
  width: 95%;
  padding: 10px 14px;
}
.searchNb_admin {
  padding: 3%;
}
.grey_admin {
  background-color: #f9fafb;
}
.search_right_admin {
  width: 26%;
}

.search_right_admin input {
  width: 80%;
  padding: 6%;
}

th,
td {
  border-bottom: 1px solid #e5e7eb;
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #e5e7eb;
  text-align: left;
}

thead th a {
  text-decoration: none;
  color: #475467;
}

thead th a:hover {
  text-decoration: underline;
}

th:first-child,
td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

th:last-child,
td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.sort-arrow {
  margin-left: 5px;
  font-size: 12px;
  color: #a0aec0;
}

.det_button {
  color: #1d2d50;
  padding: 8px 22px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #e2e8f0;
}

.det-button {
  color: #1d2d50;
  padding: 8px 22px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.det-button button {
  background-color: #e2e8f0;
}

.det_button button {
  background-color: #e2e8f0;
}

.det_button hover {
  background-color: #cbd5e1;
}

.search-btn {
  background-color: #004b75;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: none;
}

.search-btn:hover {
  background-color: #003b5c;
}

.empty-row {
  text-align: center;
  color: #a0aec0;
  font-style: italic;
}
/********************** Ajout de demandes et de poste ***************************/

.button_supad {
  display: flex;
  gap: 5%;
  padding-top: 3%;
}
.button_supad button {
  border-radius: 6px;
  padding: 1.5% 3.7%;
  border: none;
}
.supp {
  color: white;
  background-color: #e10e0e;
}
.maj {
  color: white;
}
.ajout_dmd p {
  color: #000000;
}

/********************** Validation ou refus de la demande  ***************************/

h1.titleDemand {
  margin-bottom: 0%;
}

.subTiltleDemand {
  font-size: 18px;
  font-weight: 600;
  line-height: 24.57px;
  color: #004c6cc7;
}

button.reject {
  background-color: #e10e0e;
  border: #e10e0e 2px solid;
  border-radius: 6px;
}

button.accept {
  background-color: #1a8245;
  border: 2px solid #1a8245;
  border-radius: 6px;
}

input.managerComment {
  padding: 2% 2% 10%;
}

/************************************* POSTE ************************************/

.container_Poste {
  width: 82%;
  margin-top: 20px;
  border-radius: 12px;
}

.container_Poste h1 {
  color: #1d2d50;
  border: none;
}

.add-btn {
  background-color: #004b75;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.add-btn:hover {
  background-color: #003b5c;
}

.top_Poste {
  display: flex;
  gap: 5%;
  align-items: center;
}

.search_Poste {
  width: 95%;
  padding: 3%;
}

.searchNb_Poste {
  padding: 3%;
}

.grey_Poste {
  background-color: #f9fafb;
}

.search_right_Poste {
  width: 26%;
}

.search_right_Poste input {
  width: 80%;
  padding: 6%;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  border-radius: 12px;
  border: 1px solid #eaecf0;
  color: #475467;
  border-radius: 12px;
}

.table1 {
  width: 1356px;
}

.table2 {
  width: 937px;
}

th,
td {
  border-bottom: 1px solid #e5e7eb;
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #e5e7eb;
}

thead th a {
  text-decoration: none;
  color: #475467;
}

thead th a:hover {
  text-decoration: underline;
}

.sort-arrow {
  margin-left: 5px;
  font-size: 12px;
  color: #a0aec0;
}

.det_button {
  color: #1d2d50;
  padding: 8px 22px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.det_button hover {
  background-color: #cbd5e1;
}

.search-btn {
  background-color: #004b75;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.search-btn:hover {
  background-color: #003b5c;
}

/* Ligne vide */
.empty-row {
  text-align: center;
  color: #a0aec0;
  font-style: italic;
}

.error {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
  margin-bottom: 10px;
}

.success {
  color: green;
  font-size: 0.9em;
  margin-top: 10px;
  margin-bottom: 10px;
}

/******************************** SKIN  ************************************/
.skin {
  display: flex;
  padding: 22px;
  margin: 22% auto 0% auto;
  gap: 15px;
}

.skinCollab {
  display: flex;
  padding: 22px;
  margin: 89% auto 0% auto;
  gap: 15px;
}

.headSkin img {
  border-radius: 40px;
  width: 67px;
}

.skin strong {
  color: #111928;
}

.skin p {
  color: #637381;
}

.skinCollab strong {
  color: #111928;
}

.skinCollab p {
  color: #637381;
}

.skinManager {
  display: flex;
  padding: 22px;
  margin-top: 123%;
  margin: 72% auto 0% auto;
  gap: 15px;
}

.headSkin img {
  border-radius: 40px;
  width: 67px;
}

.skinManager strong {
  color: #111928;
}

.skinManager p {
  color: #637381;
}

.btn_red {
  background-color: #e10e0e;
  padding: 13px 28px;
  border: 1px #e10e0e solid;
  border-radius: 6px;
}

.label_admin {
  font-size: 17px;
  color: #000000;
  font-weight: 500;
  margin: 40px 0 20px 0;
}

.btn_blue {
  padding: 13px 28px;
  border-radius: 6px;
  border: 1px #004c6c solid;
}

.button_container {
  gap: 25px;
  margin-top: 3%;
  display: flex;
}

.button_container a {
  color: white;
}

/************************************* Page Stats *******************************/
.right_stats {
  display: flex;
  flex-direction: column;
}

.right_stats h2 {
  color: #004c6cc7;
  font-size: 18px;
  margin: 0%;
}
.container_admin h3 {
  color: #004c6cc7;
  font-size: 20px;
}

/************************************* Pop up *******************************/

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 76, 108, 0.5);
  backdrop-filter: blur(4px);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  border-radius: 16px;
  padding: 30px;
  text-align: center;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease;
  font-family: "Inter", sans-serif;
}

.modal-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.modal .btn_blue,
.modal .btn_red {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.modal .btn_blue {
  background-color: #004c6c;
}

.modal .btn_red {
  background-color: #d9534f;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/************************************* Page addTeam  *******************************/
.toggle-label {
  display: flex;
  align-items: center;
  gap: 20px;
}

/************************************* RESPONSIVE *******************************/
@media screen and (max-width: 1340px) {
  .id {
    width: 226px;
  }
  .details {
    width: 97%;
  }
  .leftMobile {
    display: block;
  }
  .left {
    display: none;
  }
  #openMenu {
    display: block;
  }
  .dates,
  .infos {
    flex-direction: column;
    gap: 0px;
  }
  .end input,
  .begin input {
    padding: 12px 16px 12px 20px;
    width: 100%;
  }
  .right {
    max-width: 950px;
    margin-left: 5%;
    width: 92%;
  }
  .justificative input {
    min-width: 86%;
  }
  .error {
    width: 100%;
  }
  .right h2 {
    margin: 3% 0%;
  }
  .details p {
    width: 100%;
    height: 120px;
  }
  .ajout_demande_right {
    display: contents;
    display: flex;
    justify-content: center;
  }
  .container_admin {
    width: 100%;
    overflow: scroll;
  }
  .container {
    overflow: scroll;
  }
  .services {
    flex-direction: column;
    margin-left: 0%;
  }
  .poste {
    margin-left: 0%;
  }
  .infos2 {
    display: flex;
    gap: 0px;
    flex-direction: column;
    align-content: flex-start;
    align-items: baseline;
  }
  .forgotF {
    margin-left: 0%;
  }
  .initial {
    justify-content: center;
  }
  .right.historique {
    width: 92%;
  }
  .steps-container {
    width: 80%;
  }
  .block {
    width: 100%;
  }
  .blocks {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .left {
    display: none;
  }
  .middle {
    justify-content: center;
  }
  .borderTop {
    width: 95%;
    height: 7px;
  }
  .steps-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 96%;
    margin: 0;
  }
  .pref p {
    font-size: 16px;
  }
  .button {
    align-items: center;
  }
  .button2 {
    align-items: center;
  }
  .right h2 {
    margin: 3% 0% 0%;
  }
  .details {
    margin-bottom: 10%;
  }
}

@media screen and (max-width: 500px) {
  .active {
    width: 49px;
  }
  .left a {
    font-size: 17px;
  }
  .right input,
  .custom-file-upload {
    width: 84%;
  }
  .right select {
    width: 96%;
  }
  .forgotM {
    width: 100%;
  }
  .inputPswd input {
    width: 100%;
  }
  .right h1 {
    font-size: 26px;
  }
  .right h2 {
    font-size: 22px;
  }
  .right button {
    width: 210px;
  }
  .ps {
    width: 90%;
  }
  .borderTop {
    width: 92%;
    height: 6px;
  }
  .block {
    padding: 2%;
  }
  .blocks {
    display: flex;
    justify-content: center;
    width: 96%;
    gap: 21px;
  }
  .email {
    width: 94%;
  }
  .forgot {
    width: 80.5%;
  }
  .forgotN {
    width: 80%;
  }
  .forgotF {
    width: 80%;
  }
  .right button {
    width: fit-content;
    align-content: center;
    align-items: center;
  }
  #checkbox {
    display: none;
  }
  .middle {
    width: 99%;
  }

  .bars {
    width: 100%;
    height: 4px;
    background-color: rgb(176, 92, 255);
    border-radius: 4px;
  }

  #bar2 {
    transition-duration: 0.8s;
  }

  #bar1,
  #bar3 {
    width: 70%;
  }

  #checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle {
    transition-duration: 0.5s;
    transform: rotate(180deg);
  }
  .parMargin {
    margin-top: 12%;
  }
  .toggle-password {
    right: 47px;
    top: 80%;
  }
  .toggle-passwordBug {
    right: 50px;
    top: 75%;
  }
  .connexion {
    margin: 47% 0% 0%;
  }
  .right h2 {
    margin: 0;
  }
  .details {
    margin-bottom: 50%;
  }
}

@media screen and (max-width: 352px) {
  .top_admin a {
    font-size: 11px;
  }
  .details {
    margin-bottom: 54%;
  }
}
